<div>
    <div>
        <mat-toolbar color="primary">
            <div class="allTopHeader">
                <img src="assets/rest.jpg" class="logoIcon" alt="Company logo" />
                <div class="forParentRelative">
                    <img src="assets/shopping-cart.png" class="cartIcon" alt="" />
                    <small class="forAbsoluteChild">{{dataOfCart}}</small>
                </div>
            </div>
        </mat-toolbar>
        <div class="borderWhiteTop">
        </div>
        <div>
            <mat-toolbar color="primary">
                <div class="linksContainer ">
                    <span> <a class="nav-link" routerLink="/home">Home</a></span>
                    <span> <a class="nav-link" routerLink="/menu">Menu</a></span>
                    <span> <a class="nav-link" routerLink="/services">Services</a></span>
                    <span> <a class="nav-link" routerLink="/about">About Us</a></span>
                    <span> <a class="nav-link" routerLink="/cart">Cart</a></span>

                </div>
            </mat-toolbar>
        </div>

    </div>
</div>