<div style="overflow: hidden;">
<div class="pt-3" [ngStyle]="setStyles()">
    <div class="row" >
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="assets/rest.jpg" class="img-responsive img-fluid" alt="best choice" width="80%" height="80%">
            </div>
            <div class="col-md-8" [ngStyle]="{background:bgcolor, color: textcolor}">
               <div > <h4>Thank You  </h4></div>
               <div ><p>Visit Again! <mat-icon>mood</mat-icon></p></div>
               <div class="d-flex justify-content-around contain">
                <i class="fa fa-facebook fa-2x"></i>
                <i class="fa fa-instagram fa-2x"></i>
                <i class="fa fa-linkedin fa-2x"></i>
                <i class="fa fa-envelope fa-2x"></i>
                <i class="fa fa-github fa-2x"></i>
               </div>
            </div>
        </div>
        <p class="bg-white text-dark d-flex justify-content-center mt-2"><span>&copy;</span> All rights reserved to BestChoice.</p>
        <p class="bg-white text-dark d-flex justify-content-center mt-2 mb-0">Developed by G.Bhagya Lakshmi</p>
</div>
</div>