<h1 class="text-center"><b>About US</b></h1>


<div>
    <div class="card mt-2 mb-2">
        <h2 class="card-header text-center">Bhagya Lakshmi</h2>
        <div class="card-body">
            <div class="card-text">
                <p>Mail: gbhagieee@gmail.com</p>
                <p>LinkedIn: See my profile <a href="https://www.linkedin.com/in/g-bhagyalakshmi-671b83222">here</a></p>
                <p>Github: Checkout my github profile <a href="https://github.com/bhagigottam">here</a> </p>
            </div>
        </div>
    </div>
