.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .expBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
}
.lastOne{
    width:100vw;
}