.expBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
}
.totalbar{
    height: auto;
    background-color: green;
    color: white;
    align-items: center;
    
}
p{
    font-size: larger;
}